# Hugo 生成的文件
public/
resources/
.hugo_build.lock

# 系统文件
.DS_Store
.idea/
.vscode/
.Trash/
node_modules/
.env

# macOS 系统文件
.CFUserTextEncoding
.bash_history
.bash_sessions/
.config/
.local/
.npm/
.ssh/
.zsh_history
.zshrc
Library/
Applications/
Desktop/
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/
