.main .container {
    flex: 1;
    min-height: calc(100vh - 100px);
    padding: 10px 0;
}
.main .home-info .entry-content h1 {
    font-size: 2em !important;
    line-height: 1.3;
    margin-bottom: 10px;
}

.home-info .entry-content {
    font-size: 16px;
}