{{ with .Site.Params.Social.Github }}
<a href="{{ . }}" target="_blank" rel="me">
    {{ partial "svgs/github.svg" (dict "width" 20 "height" 20) }}
</a>
{{ end }}

{{ with .Site.Params.Social.Twitter }}
<a href="{{ . }}" target="_blank" rel="me">
    {{ partial "svgs/twitter.svg" (dict "width" 20 "height" 20) }}
</a>
{{ end }}

{{ with .Site.Params.Social.Facebook }}
<a href="{{ . }}" target="_blank" rel="me">
    {{ partial "svgs/facebook.svg" (dict "width" 20 "height" 20) }}
</a>
{{ end }}

{{ with .Site.Params.Social.LinkedIn }}
<a href="{{ . }}" target="_blank" rel="me">
    {{ partial "svgs/linkedin.svg" (dict "width" 20 "height" 20) }}
</a>
{{ end }}

{{ with .Site.Params.Social.StackOverflow }}
<a href="{{ . }}" target="_blank" rel="me">
    {{ partial "svgs/stackoverflow.svg" (dict "width" 20 "height" 20) }}
</a>
{{ end }} 