{{ define "main" }}
<div class="posts">
    <h1 class="latest-posts-title">最新文章</h1>
    
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    
    <div class="article-list">
        {{ range $paginator.Pages }}
        <div class="article-item">
            <h2 class="article-title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <span class="article-date">
                {{ .Date.Format "2006-01-02" }}
            </span>
        </div>
        {{ end }}
    </div>
    
    {{ if or $paginator.HasPrev $paginator.HasNext }}
    <div class="pagination">
        {{ if $paginator.HasPrev }}
        <a class="pagination-item pagination-prev" href="{{ $paginator.Prev.URL }}">
            上一页
        </a>
        {{ end }}
        
        {{ if $paginator.HasNext }}
        <a class="pagination-item pagination-next" href="{{ $paginator.Next.URL }}">
            下一页
        </a>
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }} 